@import 'variables';

footer {
    height: 20vh;
    background-color: black;
    color: $color1;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
} 

.material-icons {
    color: inherit;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}