@import "variables";

header {
    background: url('../assets/header.png') center/cover fixed;
    position: relative;
    height: 100vh;
    font-family: 'Monda', sans-serif;
    font-size: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  
    a {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    li {
        padding: 2rem;
        height: 3rem;
        text-align: center; 
        border-radius: 10px; 
    }

    li:hover {
        transition-duration: .8s;
        background-color: $main-color;    
    }
}
