@use 'reset' as *;
@use 'header' as *;
@use 'main' as *;
@use 'footer' as *;
@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Monda&display=swap');

// * {
//     box-sizing: border-box;
// }



html {
    font-size: 10px;
    text-decoration: none;
}

body {
    font-family: 'Monda', sans-serif;
}